# Python cache files
__pycache__/
*.pyc

# SQLite database
*.db

# Python virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Node modules
node_modules/

# Frontend build files
dist/
